// ==================================================
// BASIC STYLES
// ==================================================

.TodoItem {
    @extend %flex;
    align-items: center;
    @extend %item;
    color: $text-color-dark;
    letter-spacing: .2em;
    .accent {
        width: 30%;
        font-size: .8em;
        padding: 10px 0 10px 10px;
    }
}

.info {
    width: 100%;
    p {
        font-size: 1.2em;
        margin: 0 0 5px;
    }
    span {
        color: lighten($text-color-dark, 40%);
    }
}

.btn {
    width: 18%;
    button {
        @extend %check-incomplete;
        display: block;
        margin: 0 auto;
        transition: 1s;
    }
    button:hover {
        @extend %check-complete;
    }
}

.CompleteTodoItem {
    color: lighten($text-color-dark, 20%);
}

.CompleteTodoItem .info {
    p {
       text-decoration: line-through; 
    }
    span {
        color: lighten($text-color-dark, 50%);
    }
}

.CompleteTodoItem .btn {
    button {
        @extend %check-complete;
    }
}


.accent {
    &.general {
        @include accent($tag-general);
    }

    &.shopping {
        @include accent($tag-shopping);
    }

    &.workout {
        @include accent($tag-workout);
    }
}