// ==================================================
// MIXINS
// ==================================================
@mixin box-shadow($hlength: 0, $vlength: 0, $blur: 0, $spread: 0, $color: $broder-dark, $opacity: 0) {
	-webkit-box-shadow: $hlength $vlength $blur $spread rgba($color, $opacity);
	-moz-box-shadow: $hlength $vlength $blur $spread rgba($color, $opacity);
	box-shadow: $hlength $vlength $blur $spread rgba($color, $opacity);
}

@mixin linear-gradient($direction, $color-stops...) {
	background: nth(nth($color-stops, 1), 1);
	background: -webkit-linear-gradient(legacy-direction($direction), $color-stops);
	background: linear-gradient($direction, $color-stops);
}

@mixin accent($color) {
	color: $color;
	border-left: solid 3px $color;
}